/*reset*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

:root {
	--bg-color: #704214;
	--primary-color: #707014;
	--success-color: #427014;
	--accent-color: #701442;
	--text-color: #2b1908;
	--muted-color: #cdbb9f;
	--surface-color: #f7f0e3;

	--sans: system-ui, "Segoe UI", Roboto, sans-serif;
	--heading: system-ui, "Segoe UI", Roboto, sans-serif;
	--mono: ui-monospace, Consolas, monospace;

	/* Typography */
	font: 18px/145% var(--sans);
	letter-spacing: 0.18px;
	line-height: 1.1;

	color: var(--text-color);

	background: #4d2e0e;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@media (max-width: 1024px) {
	/* :root {
		font-size: 16px; 
	} */
}

body {
	margin: 0;
}

#root {
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
#root::before {
	content: "";

	position: fixed;
	inset: 0;

	background: url("./assets/images/noisy-background.jpg");
	background-repeat: repeat;

	opacity: 0.08;

	pointer-events: none;
}
